{% extends "base.html" %}
{% load static %}
{% static '' %}
{% block content %}
  
        <!-- mini cart start -->

        <div class="slider-category-area">
            <div class="slider-fixed-image slider-height-4 bg-img slider-bg-color-4" style="background-image:url({% static 'images/slider/salle_fetes_banner3.jpg' %})">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider-content-4 pt-145 text-center">
                                <h5 data-aos="fade-up" data-aos-delay="200">Wedding Hall</h5>
                                <h1 data-aos="fade-up" data-aos-delay="400">Choose your own<br> wedding hall</h1>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category-area category-area-position">
                <div class="container">
                    <div class="category-slider-active-2 swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="single-category-wrap-2 text-center" data-aos="fade-up" data-aos-delay="200">
                                    <div class="category-img-2">
                                        <a href="shop.html">
                                            <img class="category-normal-img" src="{% static 'images/category/salle.png' %}" alt="">
                                            <img class="category-hover-img" src="{% static 'images/category/salle 2.png' %}" alt="icon">
                                        </a>
                                    </div>
                                    <div class="category-content-2">
                                        <h4><a href="shop.html">Modern salle </a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-category-wrap-2 text-center" data-aos="fade-up" data-aos-delay="400">
                                    <div class="category-img-2">
                                        <a href="shop.html">
                                            <img class="category-normal-img" src="{% static 'images/category/deco.png' %}" alt="">
                                            <img class="category-hover-img" src="{% static 'images/category/deco 2.png' %}" alt="icon">
                                        </a>
                                    </div>
                                    <div class="category-content-2">
                                        <h4><a href="shop.html">Elegant Deco </a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-category-wrap-2 text-center" data-aos="fade-up" data-aos-delay="600">
                                    <div class="category-img-2">
                                        <a href="shop.html">
                                            <img class="category-normal-img" src="{% static 'images/category/food.png' %}" alt="">
                                            <img class="category-hover-img" src="{% static 'images/category/food 2.png' %}" alt="icon">
                                        </a>
                                    </div>
                                    <div class="category-content-2">
                                        <h4><a href="shop.html">Custom food </a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-category-wrap-2 text-center" data-aos="fade-up" data-aos-delay="800">
                                    <div class="category-img-2">
                                        <a href="shop.html">
                                            <img class="category-normal-img" src="{% static 'images/category/capacity 2.png' %}" alt="">
                                            <img class="category-hover-img" src="{% static 'images/category/capacity.png' %}" alt="icon">
                                        </a>
                                    </div>
                                    <div class="category-content-2">
                                        <h4><a href="shop.html">Large capacity</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-category-wrap-2 text-center" data-aos="fade-up" data-aos-delay="1000">
                                    <div class="category-img-2">
                                        <a href="shop.html">
                                            <img class="category-normal-img" src="{% static 'images/category/services.png' %}" alt="">
                                            <img class="category-hover-img" src="{% static 'images/category/services 2.png' %}" alt="icon">
                                        </a>
                                    </div>
                                    <div class="category-content-2">
                                        <h4><a href="shop.html">Classy services</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-category-wrap-2 text-center">
                                    <div class="category-img-2">
                                        <a href="#">
                                            <img class="category-normal-img" src="{% static 'images/category/category-11.png' %}" alt="">
                                            <img class="category-hover-img" src="{% static 'images/category/category-hover-11.png' %}" alt="icon">
                                        </a>
                                    </div>
                                    <div class="category-content-2">
                                        <h4><a href="#">Computer Table</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-category-wrap-2 text-center">
                                    <div class="category-img-2">
                                        <a href="#">
                                            <img class="category-normal-img" src="{% static 'images/category/category-7.png' %}" alt="">
                                            <img class="category-hover-img" src="{% static 'images/category/category-hover-7.png' %}" alt="icon">
                                        </a>
                                    </div>
                                    <div class="category-content-2">
                                        <h4><a href="#">Office Cabin</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-area padding-22-row-col pt-100 pb-65">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="banner-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                            <a href="product-details.html"><img src="{% static 'images/banner/' %}" alt=""></a>
                            <div class="banner-content-5">
                                <span> Special Offer  </span>
                               
                
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="banner-wrap mb-30" data-aos="fade-up" data-aos-delay="400">
                            <a href="product-details.html"><img src="{% static 'images/banner/' %}" alt=""></a>
                            <div class="banner-content-5">
                                <span> Special Offer </span>
                                <h2>قاعة الحفلات </h2>
                                <div class="btn-style-3 btn-hover">
                                    <a class="btn hover-border-radius" href="product-details.html">Check Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-area pb-95">
            <div class="container">
                <div class="tab-style-1 tab-style-1-modify tab-center nav" data-aos="fade-up" data-aos-delay="200">
                    <a href="#pro-1" data-bs-toggle="tab"> Capacity moin de 99 place   </a>
                    <a class="active" href="#pro-2" data-bs-toggle="tab"> Capacity 100 - 200 </a>
                    <a href="#pro-3" data-bs-toggle="tab" class="">   Capacity 200 - 300   </a>
                    <a href="#pro-4" data-bs-toggle="tab" class="">   Capacity 300+   </a>
                </div>
                <div class="tab-content jump">
                    <div id="pro-1" class="tab-pane">
                        <div class="product-slider-active-2 swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="product-wrap">
                                        <div class="product-img img-zoom mb-25">
                                            <a href="salle info dar zro9.html">
                                                <img src="{% static 'images/product/salle 1.png.jpeg' %}" alt="">
                                            </a>
                                            <div class="product-badge badge-top badge-right badge-pink">
                                                <span></span>
                                            </div>
                                            <div class="product-action-wrap">
                                                <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                                <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    <i class="pe-7s-look"></i>
                                                </button>
                                            </div>
                                            <div class="product-action-2-wrap">
                                                <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a href="salle info dar zro9.html">قاعة الحفلات دار الزروق </a></h3>
                                            <div class="product-price">
                                                <span class="old-price">250000DA </span>
                                                <span class="new-price">200000DA </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-wrap">
                                        <div class="product-img img-zoom mb-25">
                                            <a href="salle info lelia.html">
                                                <img src="{% static 'images/product/lelia.png.jpg' %}" alt="">
                                            </a>
                                            <div class="product-action-wrap">
                                                <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                                <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    <i class="pe-7s-look"></i>
                                                </button>
                                            </div>
                                            <div class="product-action-2-wrap">
                                                <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a href="salle info lelia.html">قاعة الحفلات ليليا </a></h3>
                                            <div class="product-price">
                                                <span>180000DA</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-wrap">
                                        <div class="product-img img-zoom mb-25">
                                            <a href="product-details.html">
                                                <img src="{% static 'images/product/driis.png.jpg' %}" alt="">
                                            </a>
                                            <div class="product-badge badge-top badge-right badge-pink">
                                                <span>-10%</span>
                                            </div>
                                            <div class="product-action-wrap">
                                                
                                                    <i class="pe-7s-look"></i>
                                                </button>
                                            </div>
                                            <div class="product-action-2-wrap">
                                                <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Check Now </button>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a href="product-details.html">قاعة الحفلات دريس </a></h3>
                                            <div class="product-price">
                                                <span class="old-price">280000DA </span>
                                                <span class="new-price">220000DA </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-wrap">
                                        <div class="product-img img-zoom mb-25">
                                            <a href="salle info hani sour.html">
                                                <img src="{% static 'images/product/hani sour.png.jpg' %}" alt="">
                                            </a>
                                            <div class="product-action-wrap">
                                                <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                                <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    <i class="pe-7s-look"></i>
                                                </button>
                                            </div>
                                            <div class="product-action-2-wrap">
                                                <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a href="salle info hani sour.html">قاعة الحفلات هاني سوف </a></h3>
                                            <div class="product-price">
                                                <span>300000DA </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-wrap">
                                        <div class="product-img img-zoom mb-25">
                                            <a href="product-details.html">
                                                <img src="{% static 'images/product/product-2.png' %}" alt="">
                                            </a>
                                            <div class="product-badge badge-top badge-right badge-pink">
                                                <span></span>
                                            </div>
                                            <div class="product-action-wrap">
                                                <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                                <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    <i class="pe-7s-look"></i>
                                                </button>
                                            </div>
                                            <div class="product-action-2-wrap">
                                                <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a href="product-details.html">New Modern Sofa Set</a></h3>
                                            <div class="product-price">
                                                <span class="old-price">$80.50 </span>
                                                <span class="new-price">$75.25 </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="pro-2" class="tab-pane active">
                        <div class="product-slider-active-2 swiper-container">
                            <div class="swiper-wrapper">
                                {% for sl in cap100200 %}
                                <div class="swiper-slide">
                                    <div class="product-wrap" data-aos="fade-up" data-aos-delay="200">
                                        <div class="product-img img-zoom mb-25">
                                            <a href="{% url 'main:room_details' sl.id %}">
                                                <img src="{{sl.image1.url}}" alt="">
                                            </a>
                                            <div class="product-badge badge-top badge-right badge-pink">
                                                <span></span>
                                            </div>
                                            <div class="product-action-wrap">
                                                <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                                <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    <i class="pe-7s-look"></i>
                                                </button>
                                            </div>
                                            <div class="product-action-2-wrap">
                                                <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a href="{% url 'main:room_details' sl.id %}">{{sl.title}} </a></h3>
                                            <div class="product-price">
                                                {% if sl.reduction %}
                                                <span class="old-price">{{sl.prix}}DA </span>
                                                <span class="new-price">{{sl.reduction}}DA </span>
                                                
                                                {% else %}
                                                <span class="new-price">{{sl.prix}}DA </span>

                                                {% endif %}
                                            </div>
                                        </div>
                                          
                                    </div>
                                </div>
                                {% endfor %}
 
                            </div>
                        </div>
                    </div>
                    <div id="pro-3" class="tab-pane">
                        <div class="product-slider-active-2 swiper-container">
                            <div class="swiper-wrapper">
                                {% for sl in cap200300 %}
                                <div class="swiper-slide">
                                    <div class="product-wrap">
                                        <div class="product-img img-zoom mb-25">
                                            <a href="{% url 'main:room_details' sl.id %}">
                                                <img src="{{sl.image1.url}}" alt="">
                                            </a>
                                            <div class="product-badge badge-top badge-right badge-pink">
                                                <span></span>
                                            </div>
                                            <div class="product-action-wrap">
                                                <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                                <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    <i class="pe-7s-look"></i>
                                                </button>
                                            </div>
                                            <div class="product-action-2-wrap">
                                                <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a href="{% url 'main:room_details' sl.id %}">{{sl.title}} </a></h3>
                                            <div class="product-price">
                                                {% if sl.reduction %}
                                                <span class="old-price">{{sl.prix}}DA </span>
                                                <span class="new-price">{{sl.reduction}}DA </span>
                                                
                                                {% else %}
                                                <span class="new-price">{{sl.prix}}DA </span>

                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                  
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    <div id="pro-4" class="tab-pane">
                        <div class="product-slider-active-2 swiper-container">
                            <div class="swiper-wrapper">
                                {% for sl in cap400 %}
                                <div class="swiper-slide">
                                    <div class="product-wrap">
                                        <div class="product-img img-zoom mb-25">
                                            <a href="{% url 'main:room_details' sl.id %}">
                                                <img src="{{sl.image1.url}}" alt="">
                                            </a>
                                            <div class="product-badge badge-top badge-right badge-pink">
                                                <span></span>
                                            </div>
                                            <div class="product-action-wrap">
                                                <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                                <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    <i class="pe-7s-look"></i>
                                                </button>
                                            </div>
                                            <div class="product-action-2-wrap">
                                                <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a href="{% url 'main:room_details' sl.id %}">{{sl.title}}</a></h3>
                                            <div class="product-price">
                                                {% if sl.reduction %}
                                                <span class="old-price">{{sl.prix}}DA </span>
                                                <span class="new-price">{{sl.reduction}}DA </span>
                                                
                                                {% else %}
                                                <span class="new-price">{{sl.prix}}DA </span>

                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                  
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-area pb-75 padding-20-row-col">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 order-lg-0 order-md-1 order-sm-1 col-12">
                        

                                </a></div>
                    <div class="col-lg-6 col-md-12 col-sm-12 order-lg-1 order-md-0 order-sm-0 col-12">
                        <div class="banner-wrap mb-20" data-aos="fade-up" data-aos-delay="200">
                            <a href="salle info maachi.html"><img src="{% static 'images/banner/Maachi.png.jpg' %}" alt=""></a>
                            <div class="banner-content-9">
                                <h3>Special offer </h3>
                                <h4>قاعة الحفلات معاشي </h4>
                            </div>
                            <div class="btn-style-6 btn-style-6-position btn-hover">
                                <a href="salle info maachi.html" class="btn btn-border-radius hover-border-radius theme-color padding-dec">
                                   Check now 
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 order-lg-2 order-md-2 order-sm-2 col-12">
                        <div class="banner-wrap mb-20" data-aos="fade-up" data-aos-delay="600">
                            </div>
                            <div class="btn-style-6 btn-style-6-position btn-hover">
                                
                                    
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
          
                         
        <div class="banner-area padding-22-row-col pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="banner-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                            <a href="product-details.html"><img src="{% static 'images/banner/' %}" alt=""></a>
                            <div class="banner-content-12">
                                <h2></h2>
                                <div class="btn-style-7">
                                    <a href="product-details.html"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="banner-wrap mb-30" data-aos="fade-up" data-aos-delay="400">
                            <a href="product-details.html"><img src="{% static 'images/banner/' %}" alt=""></a>
                            <div class="banner-content-12 banner-content-12-width">
                                <h2> </h2>
                                <div class="btn-style-7">
                                    <a href="product-details.html"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial-area pb-100">
            <div class="container">
                <div class="section-title-2 st-border-center text-center mb-75" data-aos="fade-up" data-aos-delay="200">
                    <h2>Note importante</h2>
                </div>
                <div class="testimonial-active swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="single-testimonial" data-aos="fade-up" data-aos-delay="200">
                                <div class="testimonial-img">
                                    <img src="{% static 'images/testimonial/team-1.png' %}" alt="">
                                </div>
                                <p> .كل قاعات الزفاف المعروضة في الموقع هي قاعات متعاقدة مع موقعنا و بالتالي الأولوية و العروض الخاصة دائما ستكون لعملائنا 
                                     </p>
                                     <p>  أما في حالة عدم ايجاد قاعة الزفاف المناسبة لكم يمكنكم التواصل مع فريقنا و سوف يتم إختيار لكم أفضل عرض يناسب إحتياجاتكم و ميزانيتكم و التكفل بكامل التفاصيل و الإجراءات </p>
                                <div class="testimonial-info">
                                    <h4>Amir - </h4>
                                    <span> Weddy Team </span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-testimonial" data-aos="fade-up" data-aos-delay="400">
                                <div class="testimonial-img">
                                    <img src="{% static 'images/testimonial/client-2.png' %}" alt="">
                                </div>
                                <p></p>
                               
                                    <h4></h4>
                                    <span> </span>
                                </div>
                            </div>
                        </div>
                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="brand-logo-area pb-95">
            <div class="container">
                <div class="brand-logo-active swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="single-brand-logo" data-aos="fade-up" data-aos-delay="200">
                                <a href="#"><img src="{% static 'images/brand-logo/dris.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo" data-aos="fade-up" data-aos-delay="400">
                                <a href="#"><img src="{% static 'images/brand-logo/royal.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo" data-aos="fade-up" data-aos-delay="600">
                                <a href="#"><img src="{% static 'images/brand-logo/afrah.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo" data-aos="fade-up" data-aos-delay="800">
                                <a href="#"><img src="{% static 'images/brand-logo/Dar zrouk.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo" data-aos="fade-up" data-aos-delay="1000">
                                <a href="#"><img src="{% static 'images/brand-logo/bois des cars.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-brand-logo" data-aos="fade-up" data-aos-delay="1200">
                                <a href="#"><img src="{% static 'images/brand-logo/brand-logo-1.png' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
{% endblock content %}
    