{% extends "base.html" %}
   {% load static %}
{% block content %}
  

        <div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h2 data-aos="fade-up" data-aos-delay="200">Hall Details</h2>
                    <ul data-aos="fade-up" data-aos-delay="400">
                        <li><a href="index.html">Home</a></li>
                        <li><i class="ti-angle-right"></i></li>
                        <li>salle al djazairiya</li>
                    </ul>
                </div>
            </div>
            <div class="breadcrumb-img-1" data-aos="fade-right" data-aos-delay="200">
                <img src="assets/images/banner/breadcrumb-1.png" alt="">
            </div>
            <div class="breadcrumb-img-2" data-aos="fade-left" data-aos-delay="200">
                <img src="assets/images/banner/breadcrumb-2.png" alt="">
            </div>
        </div>
        <div class="product-details-area pb-100 pt-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="product-details-img-wrap product-details-vertical-wrap" data-aos="fade-up" data-aos-delay="200">
                            <div class="product-details-small-img-wrap">
                                <div class="swiper-container product-details-small-img-slider-1 pd-small-img-style">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="product-details-small-img">
                                                {% if details.image1 %}
                                                <img src="{{details.image1.url}}" alt="Product Thumnail">
                                                  
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product-details-small-img">
                                                {% if details.image2 %}
                                                <img src="{{details.image2.url}}" alt="Product Thumnail">
                                                  
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product-details-small-img">
                                                {% if details.image3 %}
                                                <img src="{{details.image3.url}}" alt="Product Thumnail">
                                                  
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product-details-small-img">
                                                {% if details.image4 %}
                                                <img src="{{details.image4.url}}" alt="Product Thumnail">
                                                  
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product-details-small-img">
                                                {% if details.image5 %}
                                                <img src="{{details.image5.url}}" alt="Product Thumnail">
                                                  
                                                {% endif %}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="pd-prev pd-nav-style"> <i class="ti-angle-up"></i></div>
                                <div class="pd-next pd-nav-style"> <i class="ti-angle-down"></i></div>
                            </div>
                            <div class="swiper-container product-details-big-img-slider-1 pd-big-img-style">
                                <div class="swiper-wrapper">
                                    {% if details.image1 %}
                                    <div class="swiper-slide">
                                        <div class="easyzoom-style">
                                            <div class="easyzoom easyzoom--overlay">
                                                <a href="{{details.image1.url}}">
                                                    <img src="{{details.image1.url}}" alt="">
                                                </a>
                                            </div>
                                            <a class="easyzoom-pop-up img-popup" href="{{details.image1.url}}">
                                                <i class="pe-7s-search"></i>
                                            </a>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if details.image2 %}
                                    <div class="swiper-slide">
                                        <div class="easyzoom-style">
                                            <div class="easyzoom easyzoom--overlay">
                                                <a href="{{details.image2.url}}">
                                                    <img src="{{details.image2.url}}" alt="">
                                                </a>
                                            </div>
                                            <a class="easyzoom-pop-up img-popup" href="{{details.image2.url}}">
                                                <i class="pe-7s-search"></i>
                                            </a>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if details.image3 %}
                                    <div class="swiper-slide">
                                        <div class="easyzoom-style">
                                            <div class="easyzoom easyzoom--overlay">
                                                <a href="{{details.image3.url}}">
                                                    <img src="{{details.image3.url}}" alt="">
                                                </a>
                                            </div>
                                            <a class="easyzoom-pop-up img-popup" href="{{details.image3.url}}">
                                                <i class="pe-7s-search"></i>
                                            </a>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if details.image4 %}
                                    <div class="swiper-slide">
                                        <div class="easyzoom-style">
                                            <div class="easyzoom easyzoom--overlay">
                                                <a href="{{details.image4.url}}">
                                                    <img src="{{details.image4.url}}" alt="">
                                                </a>
                                            </div>
                                            <a class="easyzoom-pop-up img-popup" href="{{details.image4.url}}">
                                                <i class="pe-7s-search"></i>
                                            </a>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if details.image5 %}
                                    <div class="swiper-slide">
                                        <div class="easyzoom-style">
                                            <div class="easyzoom easyzoom--overlay">
                                                <a href="{{details.image5.url}}">
                                                    <img src="{{details.image5.url}}" alt="">
                                                </a>
                                            </div>
                                            <a class="easyzoom-pop-up img-popup" href="{{details.image5.url}}">
                                                <i class="pe-7s-search"></i>
                                            </a>
                                        </div>
                                    </div>
                                    {% endif %}
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="product-details-content" data-aos="fade-up" data-aos-delay="400">
                            <h2>{{details.title}}</h2>
                            {% if details.reduction %}
                                                    <div class="product-price">
                                                        <span class="old-price">{{details.prix}} dzd </span>
                                                        <span class="new-price">{{details.reduction}} dzd </span>
                                                    </div>
                                                    
                                                    {% else %}
                                                    <div class="product-price">
                                                        <span class="new-price">{{details.prix}} dzd </span>
                                                    </div>

                                                    {% endif %}


                            <div class="product-details-action-wrap">
                               
                                <div class="single-product-cart btn-hover">
                                    <a href="#">reserve</a>
                                </div>
                                <div class="single-product-wishlist">
                                    <a title="Wishlist" href="wishlist.html"><i class="pe-7s-like"></i></a>
                                </div>
                                <div class="single-product-compare">
                                    <a title="Compare" href="#"><i class="pe-7s-shuffle"></i></a>
                                </div>
                            </div>
                            <div class="product-details-meta">
                                <ul>
                                    <li><span class="title">Category:</span>
                                        <ul>
                                            <li><a href="#">{{details.category}}</a></li>
                                        </ul>
                                    </li>
                                    <li><span class="title">Tags:</span>
                                        <ul class="tag">
                                            {% for tag in details.tag.all %}
                                            <li><a href="#">{{tag.title}}</a></li>
                                              
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="social-icon-style-4">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="description-review-area pb-85">
            <div class="container">
                <div class="description-review-topbar nav" data-aos="fade-up" data-aos-delay="200">
                    <a class="active" data-bs-toggle="tab" href="#des-details1"> Description </a>
                    <a data-bs-toggle="tab" href="#des-details2" class=""> Information </a>
                    <a data-bs-toggle="tab" href="#des-details3" class=""> Reviews </a>
                </div>
                <div class="tab-content">
                    <div id="des-details1" class="tab-pane active">
                        <div class="product-description-content text-center">
                            <p data-aos="fade-up" data-aos-delay="200">{{details.description}}</p>
                           
                        </div>
                    </div>
                    <div id="des-details2" class="tab-pane">
                        <div class="specification-wrap table-responsive">
                            <table>
                                <tbody>
                                    {{details.Exta}}
                                    {% for ser in details.Exta.all %}
                                    
                                    <tr>
                                        <td class="width1">{{ser.prix}}DA</td>
                                        <td>{{ser.title}}</td>
                                    </tr>
                                    {% endfor %}
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="des-details3" class="tab-pane">
                        <div class="review-wrapper">
                            <h3>1 review for Sleeve Button Cowl Neck</h3>
                            <div class="single-review">
                                <div class="review-img">
                                    <img src="{% static 'images/product-details/review-1.png' %}" alt="">
                                </div>
                                <div class="review-content">
                                    <div class="review-rating">
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                        <a href="#"><i class="ti-star"></i></a>
                                    </div>
                                    <h5><span>HasTech</span> - April 29, 2022</h5>
                                    <p>Donec accumsan auctor iaculis. Sed suscipit arcu ligula, at egestas magna molestie a. Proin ac ex maximus, ultrices justo eget, sodales orci. Aliquam egestas libero ac turpis pharetra, in vehicula lacus scelerisque</p>
                                </div>
                            </div>
                        </div>
                        <div class="ratting-form-wrapper">
                            <h3>Add a Review</h3>
                            <p>Your email address will not be published. Required fields are marked <span>*</span></p>
                            <div class="your-rating-wrap">
                                <span>Your rating</span>
                                <div class="your-rating">
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                </div>
                            </div>
                            <div class="ratting-form">
                                <form action="#">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="rating-form-style mb-15">
                                                <label>Name <span>*</span></label>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="rating-form-style mb-15">
                                                <label>Email <span>*</span></label>
                                                <input type="email">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="rating-form-style mb-15">
                                                <label>Your review <span>*</span></label>
                                                <textarea name="Your Review"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="save-email-option">
                                                <p><input type="checkbox"> <label>Save my name, email, and website in this browser for the next time I comment.</label></p>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-submit">
                                                <input type="submit" value="Submit">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="related-product-area pb-95">
            <div class="container">
                <div class="section-title-2 st-border-center text-center mb-75" data-aos="fade-up" data-aos-delay="200">
                    <h2>Related Products</h2>
                </div>
                <div class="related-product-active swiper-container">
                    <div class="swiper-wrapper">
                        {% for prd in related %}
                        <div class="swiper-slide">
                            <div class="product-wrap" data-aos="fade-up" data-aos-delay="200">
                                <div class="product-img img-zoom mb-25">
                                    <a href="{% url 'main:product' prd.id %}">
                                        {% if prd.image1 %}
                                        <img src="{{prd.image1.url}}" alt="">
                                        
                                        {% else %}
                                        <img src="{% static "images/no_imgpng.png" %}" alt="">
                                        {% endif %}
                                    </a>
                                    <div class="product-badge badge-top badge-right badge-pink">
                                        <span>-10%</span>
                                    </div>
                                    <div class="product-action-wrap">
                                        <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                        <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            <i class="pe-7s-look"></i>
                                        </button>
                                    </div>
                                    <div class="product-action-2-wrap">
                                        <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3><a href="product-details.html">{{prd.title}}</a></h3>
                                    <div class="product-price">
                                        <span class="old-price">$25.89 </span>
                                        <span class="new-price">$20.25 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                          
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
      
{% endblock content %}
    